<!-- Slider main container -->
<div class="swiper ">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" >
      <div class="description">
        <h3>Slide 1</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum in eveniet id porro culpa officia voluptatum,
          enim molestiae rem odit, doloremque vitae voluptatibus recusandae omnis quod commodi, exercitationem numquam
          repellendus!
        </p>
        

      </div>
    </div>
    <div class="swiper-slide">
      <div class="description">
        <h3>Slide 2</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum in eveniet id porro culpa officia voluptatum,
          enim molestiae rem odit, doloremque vitae voluptatibus recusandae omnis quod commodi, exercitationem numquam
          repellendus!
        </p>
      </div>
    </div>
    <div class="swiper-slide"><div class="description">
      <h3>Slide 3</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum in eveniet id porro culpa officia voluptatum,
        enim molestiae rem odit, doloremque vitae voluptatibus recusandae omnis quod commodi, exercitationem numquam
        repellendus!
      </p>


    </div></div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div (click)="onSlidePrev()" class="swiper-button-prev"></div>
  <div (click)="onSlideNext()" class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>