<div class="mx-auto max-w-screen-lg px-4 py-8 sm:px-8">
    <div class="overflow-y-hidden rounded-lg border">
      <div class="overflow-x-auto">
        <table class="w-full">
          <thead>
            <tr class="bg-blue-600 text-left text-xs font-semibold uppercase tracking-widest text-white">
              <th class="px-5 py-3">ID</th>
              <th class="px-5 py-3">Genero</th>
              <th class="px-5 py-3">Nombre</th>
              <th class="px-5 py-3">Email</th>
            </tr>
          </thead>
          <tbody class="text-gray-500">
            @for (usuario of usuarioServices.usuarios(); track $index) {

              
              <tr>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  <p class="whitespace-no-wrap">3</p>
                </td>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  <div class="flex items-center">
                    <div class="ml-3">
                      <p class="whitespace-no-wrap">{{usuario.gender}}</p>
                    </div>
                  </div>
                </td>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  <p class="whitespace-no-wrap">` {{usuario.name.title}} {{usuario.name.first}} {{usuario.name.last}}`</p>
                </td>
                <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                  <p class="whitespace-no-wrap"> {{usuario.email}}</p>
                </td>
              </tr>
            }
            @empty {
              <h3>Cargando informacion ...</h3>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  